<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>



</head>

<body background="{{ url_for('static', filename='img/bg.jpg') }}">
    
    <h1>Login Page</h1>

    <form method="POST" action="">
  <div class="container">

        {{ form.hidden_tag() }}
        <label for="uname"><b>Username</b></label>
        {{ form.username }}
        <label for="psw"><b>Password</b></label>
        {{ form.password }}
        <button name="submit" value"Submit" type="submit">Login</button>
          </div>
    </form>

</body>

</html>